//exercise 1 - paragraph mixin
@mixin p-font($size, $color) {
    font-size: $size;
    color: $color;
}


//exercise 2 - title mixin
@mixin title-text($color, $size:3rem, $align:center, $position:relative, $top:40%) {
    font-size: $size;
    color: $color;
    text-align: $align;
    position: $position;
    top: $top;
}

//exercise 3 - background mixin
@mixin background-size($cover) {
    //include this in the mixin below
    background-size: $cover;
}


@mixin parallax-background($file) {
    background: url($file) no-repeat center center fixed;
    @include background-size(cover);
}



html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}


#meixi {
    width: 100%;
    height: 80vh;
    @include parallax-background("images/meixi.jpg");
    background-position: bottom;

    h1 {
        margin: 0;
        @include title-text(white);
    }

}

#Cluo {
    width: 100%;
    height: 80vh;
    @include parallax-background("images/Cluo.jpg");

    h1 {
        @include title-text(red);
    }
}

.description {
    width: 50%;
    margin: auto;
    p {
        padding: 1rem 0 3rem 0;
        text-align: justify;
        @include p-font(1.2rem, black);
    }
}
